In [36]:
import pandas as pd
import numpy as np

In [39]:
data=pd.read_csv(r"C:\Users\sharvani dhulipala\OneDrive\Documents\data mining lab\data.data")
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   3            204 non-null    int64
 1   ?            204 non-null    object
 2   alfa-romero  204 non-null    object
 3   gas          204 non-null    object
 4   std          204 non-null    object
 5   two          204 non-null    object
 6   convertible  204 non-null    object
 7   rwd          204 non-null    object
 8   front        204 non-null    object
 9   88.60        204 non-null    float64
 10  168.80       204 non-null    float64
 11  64.10        204 non-null    float64
 12  48.80        204 non-null    float64
 13  2548         204 non-null    int64
 14  dohc         204 non-null    object
 15  four         204 non-null    object
 16  130          204 non-null    int64
 17  mpfi         204 non-null    object
 18  3.47         204 non-null    object
 19  2.68         204 non-null    object
 20  9.00         204 non-null    float64
 21  111          204 non-null    object
 22  5000         204 non-null    object
 23  21           204 non-null    int64
 24  27           204 non-null    int64
 25  13495        204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

## data.info()

In [9]:
data.replace("?",np.nan,inplace=True)
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [10]:
avg_norm_loss=data['normalized-losses'].astype('float').mean(axis=0)
print(avg_norm_loss)
data['normalized-losses'].replace(np.nan,avg_norm_loss,inplace=True)
data.head()

122.0

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [11]:
avg_wheel_base=data['wheel-base'].mean(axis=0)
print(avg_wheel_base)

98.75658536585367

In [12]:
data['wheel-base'].replace(np.nan,avg_wheel_base,inplace=True)
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [13]:
avg_len=data["length"].mean(axis=0)
data["length"].replace(np.nan,avg_len,inplace=True)
print(avg_len)

174.04926829268288

In [14]:
avg_width=data["width"].mean(axis=0)
data["width"].replace(np.nan,avg_width,inplace=True)
print(avg_width)

65.90780487804878

In [15]:
avg_height=data["height"].mean(axis=0)
data["height"].replace(np.nan,avg_height,inplace=True)
print(avg_height)

53.72487804878049

In [16]:
avg_engine_size=data["engine-size"].mean(axis=0)
data["engine-size"].replace(np.nan,avg_engine_size,inplace=True)
print(avg_engine_size)

126.90731707317073

In [17]:
avg_curb_weight=data["curb-weight"].mean(axis=0)
data["curb-weight"].replace(np.nan,avg_curb_weight,inplace=True)
print(avg_curb_weight)

2555.5658536585365

In [18]:
avg_city_mpg=data["city-mpg"].mean(axis=0)
data["city-mpg"].replace(np.nan,avg_city_mpg,inplace=True)
print(avg_city_mpg)

25.21951219512195

In [19]:
avg_highway_mpg=data["highway-mpg"].mean(axis=0)
data["highway-mpg"].replace(np.nan,avg_highway_mpg,inplace=True)
print(avg_highway_mpg)

30.75121951219512

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   no-of-doors        203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [21]:
data['make']=data['make'].astype('category')
data['make']=data['make'].cat.codes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   no-of-doors        203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(1), object(15)
memory usage: 40.4+ KB

In [22]:
data['fuel-type'].unique()
data['fuel-type']=data['fuel-type'].astype('category')
data['fuel-type']=data['fuel-type'].cat.codes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    object
 5   no-of-doors        203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(2), object(14)
memory usage: 39.0+ KB

In [23]:
print(data['aspiration'].unique())
data['aspiration']=data['aspiration'].astype('category')
data['aspiration']=data['aspiration'].cat.codes
data.info()

['std' 'turbo']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(3), object(13)
memory usage: 37.6+ KB

In [24]:
print(data['no-of-doors'].unique())
data.tail()
data['no-of-doors']=data['no-of-doors'].astype('category')
data['no-of-doors']=data['no-of-doors'].cat.codes
data.info()
data.tail()

['two' 'four' nan]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(4), object(12)
memory usage: 36.2+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,21,1,0,0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,21,1,1,0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,21,1,0,0,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,21,0,1,0,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,21,1,1,0,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [25]:
print(data['body-style'].unique())
data['body-style']=data['body-style'].astype('category')
data['body-style']=data['body-style'].cat.codes
data.info()
data.head()

['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(5), object(11)
memory usage: 34.8+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [26]:
print(data['drive-wheels'].unique())
data['drive-wheels']=data['drive-wheels'].astype('category')
data['drive-wheels']=data['drive-wheels'].cat.codes
data.info()
data.head()

['rwd' 'fwd' '4wd']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(6), object(10)
memory usage: 33.4+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,2,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,2,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [27]:
print(data['engine-location'].unique())
data['engine-location']=data['engine-location'].astype('category')
data['engine-location']=data['engine-location'].cat.codes
data.info()
data.head()

['front' 'rear']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    int8
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(7), object(9)
memory usage: 32.0+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,2,0,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [28]:
print(data['engine-type'].unique())
data['engine-type']=data['engine-type'].astype('category')
data['engine-type']=data['engine-type'].cat.codes
data.info()
data.head()

['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    int8
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    int8
 15  num_of-cylinder    205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(8), object(8)
memory usage: 30.6+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,2,0,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
print(data['num_of-cylinder'].unique())
data['num_of-cylinder']=data['num_of-cylinder'].astype('category')
data['num_of-cylinder']=data['num_of-cylinder'].cat.codes
data.info()
data.head()

['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    int8
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    int8
 15  num_of-cylinder    205 non-null    int8
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(9), object(7)
memory usage: 29.2+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,2,0,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,2,0,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [30]:
print("fuel-system",data['fuel-system'].unique())
print(data['bore'].unique())
print(data['stroke'].unique())

data[['fuel-system','bore','stroke']]=data[['fuel-system','bore','stroke']].astype('category')
data['fuel-system']=data['fuel-system'].cat.codes
data['bore']=data['bore'].cat.codes
data['stroke']=data['stroke'].cat.codes
data.info()
data.head()

fuel-system ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
['3.47' '2.68' '3.19' '3.13' '3.50' '3.31' '3.62' '2.91' '3.03' '2.97'
 '3.34' '3.60' '2.92' '3.15' '3.43' '3.63' '3.54' '3.08' nan '3.39' '3.76'
 '3.58' '3.46' '3.80' '3.78' '3.17' '3.35' '3.59' '2.99' '3.33' '3.70'
 '3.61' '3.94' '3.74' '2.54' '3.05' '3.27' '3.24' '3.01']
['2.68' '3.47' '3.40' '2.80' '3.19' '3.39' '3.03' '3.11' '3.23' '3.46'
 '3.90' '3.41' '3.07' '3.58' '4.17' '2.76' '3.15' nan '3.16' '3.64' '3.10'
 '3.35' '3.12' '3.86' '3.29' '3.27' '3.52' '2.19' '3.21' '2.90' '2.07'
 '2.36' '2.64' '3.08' '3.50' '3.54' '2.87']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    int8
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    int8
 15  num_of-cylinder    205 non-null    int8
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    int8
 18  bore               205 non-null    int8
 19  stroke             205 non-null    int8
 20  compression_ratio  205 non-null    float64
 21  horse_power        203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), int8(12), object(4)
memory usage: 25.0+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,111,5000,21,27,13495
1,3,122.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,111,5000,21,27,16500
2,1,122.0,0,1,0,1,2,2,0,94.5,...,152,5,1,27,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,99.8,...,109,5,13,24,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,99.4,...,136,5,13,24,8.0,115,5500,18,22,17450

In [31]:
print("fuel-system",data['horse_power'].unique())
print(data['peak-rpm'].unique())
print(data['price'].unique())

data[['horse_power','peak-rpm','price']]=data[['horse_power','peak-rpm','price']].astype('category')
data['horse_power']=data['horse_power'].cat.codes
data['peak-rpm']=data['peak-rpm'].cat.codes
data['price']=data['price'].cat.codes
data.info()
data.head()

fuel-system ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' nan '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
['5000' '5500' '5800' '4250' '5400' '5100' '4800' '6000' '4750' '4650'
 '4200' '4350' '4500' '5200' '4150' '5600' '5900' '5750' nan '5250' '4900'
 '4400' '6600' '5300']
['13495' '16500' '13950' '17450' '15250' '17710' '18920' '23875' nan
 '16430' '16925' '20970' '21105' '24565' '30760' '41315' '36880' '5151'
 '6295' '6575' '5572' '6377' '7957' '6229' '6692' '7609' '8558' '8921'
 '12964' '6479' '6855' '5399' '6529' '7129' '7295' '7895' '9095' '8845'
 '10295' '12945' '10345' '6785' '11048' '32250' '35550' '36000' '5195'
 '6095' '6795' '6695' '7395' '10945' '11845' '13645' '15645' '8495'
 '10595' '10245' '10795' '11245' '18280' '18344' '25552' '28248' '28176'
 '31600' '34184' '35056' '40960' '45400' '16503' '5389' '6189' '6669'
 '7689' '9959' '8499' '12629' '14869' '14489' '6989' '8189' '9279' '5499'
 '7099' '6649' '6849' '7349' '7299' '7799' '7499' '7999' '8249' '8949'
 '9549' '13499' '14399' '17199' '19699' '18399' '11900' '13200' '12440'
 '13860' '15580' '16900' '16695' '17075' '16630' '17950' '18150' '12764'
 '22018' '32528' '34028' '37028' '9295' '9895' '11850' '12170' '15040'
 '15510' '18620' '5118' '7053' '7603' '7126' '7775' '9960' '9233' '11259'
 '7463' '10198' '8013' '11694' '5348' '6338' '6488' '6918' '7898' '8778'
 '6938' '7198' '7788' '7738' '8358' '9258' '8058' '8238' '9298' '9538'
 '8449' '9639' '9989' '11199' '11549' '17669' '8948' '10698' '9988'
 '10898' '11248' '16558' '15998' '15690' '15750' '7975' '7995' '8195'
 '9495' '9995' '11595' '9980' '13295' '13845' '12290' '12940' '13415'
 '15985' '16515' '18420' '18950' '16845' '19045' '21485' '22470' '22625']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    int8
 3   fuel-type          205 non-null    int8
 4   aspiration         205 non-null    int8
 5   no-of-doors        205 non-null    int8
 6   body-style         205 non-null    int8
 7   drive-wheels       205 non-null    int8
 8   engine-location    205 non-null    int8
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    int8
 15  num_of-cylinder    205 non-null    int8
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    int8
 18  bore               205 non-null    int8
 19  stroke             205 non-null    int8
 20  compression_ratio  205 non-null    float64
 21  horse_power        205 non-null    int8
 22  peak-rpm           205 non-null    int8
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    int16
dtypes: float64(5), int16(1), int64(5), int8(14), object(1)
memory usage: 20.9+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,31
1,3,122.0,0,1,0,1,0,2,0,88.6,...,130,5,23,4,9.0,5,10,21,27,50
2,1,122.0,0,1,0,1,2,2,0,94.5,...,152,5,1,27,9.0,20,10,19,26,50
3,2,164,1,1,0,0,3,1,0,99.8,...,109,5,13,24,10.0,2,16,24,30,36
4,2,164,1,1,0,0,3,0,0,99.4,...,136,5,13,24,8.0,8,16,18,22,61

In [32]:
X=data.iloc[:,0:25]
X

,symboling,normalized-losses,make,fuel-type,aspiration,no-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num_of-cylinder,engine-size,fuel-system,bore,stroke,compression_ratio,horse_power,peak-rpm,city-mpg,highway-mpg
0,3,122.0,0,1,0,1,0,2,0,88.6,...,2,130,5,23,4,9.0,5,10,21,27
1,3,122.0,0,1,0,1,0,2,0,88.6,...,2,130,5,23,4,9.0,5,10,21,27
2,1,122.0,0,1,0,1,2,2,0,94.5,...,3,152,5,1,27,9.0,20,10,19,26
3,2,164,1,1,0,0,3,1,0,99.8,...,2,109,5,13,24,10.0,2,16,24,30
4,2,164,1,1,0,0,3,0,0,99.4,...,1,136,5,13,24,8.0,8,16,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21,1,0,0,3,2,0,109.1,...,2,141,5,35,15,9.5,7,15,23,28
201,-1,95,21,1,1,0,3,2,0,109.1,...,2,141,5,35,15,8.7,23,14,19,25
202,-1,95,21,1,0,0,3,2,0,109.1,...,3,173,5,26,7,8.8,13,16,18,23
203,-1,95,21,0,1,0,3,2,0,109.1,...,3,145,3,6,24,23.0,3,8,26,27
204,-1,95,21,1,1,0,3,2,0,109.1,...,2,141,5,35,15,9.5,7,15,19,25

In [33]:
y=data.iloc[:,25]
y

0      31
1      50
2      50
3      36
4      61
       ..
200    56
201    73
202    77
203    79
204    80
Name: price, Length: 205, dtype: int16

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X,y ,test_size=0.2)

In [35]:
from sklearn.model_selection import LinearRegression
lr= LinearRegression()
lr.fit(x_train,y_train)

ImportError: cannot import name 'LinearRegression' from 'sklearn.model_selection' (C:\Users\sharvani dhulipala\anaconda3\Lib\site-packages\sklearn\model_selection\__init__.py)

In [ ]:
pred=lr.predict(X_train)